$font-size: 14px;
$line-height: 1.5;
$letter-spacing: 0.02857em;
$font-family: 'Poppins', sans-serif;
$font-weight: 400;
$webkit-user-select: none;
$moz-user-select: none;
$ms-user-select: none;
$user-select: none;

:export {
	FONT_SIZE: $font-size;
	FONT_FAMILY: $font-family;
	LINE_HEIGHT: $line-height;
	LETTER_SPACING: $letter-spacing;
	FONT_WEIGHT: $font-weight;
}
